<%= render 'shared/page_title', title: 'Chef: ' + @chef.name %>

<div class="row">
    <div class="col-md-4 offset-4 text-center">
        <%= gravatar_for @chef, size: 200 %>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-4 offset-4 text-center">
        <h3 class="my-4"><em>Recipes:</em></h3>
        <%= will_paginate(@recipes, class: "d-flex justify-content-center", :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>        
    </div>
</div>
<% @recipes.each do |recipe| %>
    <div class="row">
        <div class="card bg-light col-md-6 offset-3 my-3 p-4">
            <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
            <p><%= recipe.summary %></p>
            <p>
                <span class="quiet"><small>Created: <%= time_ago_in_words(recipe.created_at) %></small></span>
                <span class="quiet"><small>| Updated: <%= time_ago_in_words(recipe.updated_at) %></small></span>
            </p>
            <div class="position-absolute like-box">
                <%= link_to like_recipe_path(recipe, like: true), method: :post, class: "px-2" do %>
                    <i class="far fa-thumbs-up"></i> <%= recipe.thumbs_up_total %>
                <% end%>
                <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
                    <i class="far fa-thumbs-down"></i> <%= recipe.thumbs_down_total %>
                <% end%>
            </div>
        </div>
    </div>
<% end %>