<%= render 'shared/page_title', title: "Recipes for: " + @style.name + " food" %>

<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <%= link_to "Recipes", recipes_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Chefs", chefs_path, class: "nav-link" %>
  </li>
</ul>

<%= will_paginate(@recipes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<% @style.recipes.each do |recipe| %>
    <div class="row my-4">
        <div class="col-md-2">
            <section class="chef_info text-center">
                <%= link_to gravatar_for(recipe.chef, size: 100), chef_path(recipe.chef) %>
                <h6>Chef name: <%= recipe.chef.name %></h6>
            </section>
        </div>
        <div class="card bg-light col-md-6">
            <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
            <p><%= recipe.summary %></p>
            <p>Style: <%= render recipe.styles %></p>
            <p>Ingredients: <%= render recipe.ingredients %></p>
            <p>
                <span class="quiet"><small>Created: <%= time_ago_in_words(recipe.created_at) %></small></span>
                <span class="quiet"><small>| Updated: <%= time_ago_in_words(recipe.updated_at) %></small></span>
            </p>
            <div class="position-absolute like-box">
                <%= link_to like_recipe_path(recipe, like: true), method: :post, class: "px-2" do %>
                    <i class="far fa-thumbs-up"></i> <%= recipe.thumbs_up_total %>
                <% end%>
                <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
                    <i class="far fa-thumbs-down"></i> <%= recipe.thumbs_down_total %>
                <% end%>
            </div>
        </div>
        <div class="col-md-4">
            <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %>
        </div>
        <hr class="col-12"/>
    </div>
<% end %>

<%= will_paginate(@recipes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>